<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
    <!-- AOP 적용 -->
    <aop:aspectj-autoproxy/>
    <context:component-scan base-package="com.sist.*"/>
    <!-- DataBase 관련 -->
    <!-- DB 정보 -->
    <bean id="ds"
        class="org.apache.commons.dbcp.BasicDataSource"
        p:driverClassName="oracle.jdbc.driver.OracleDriver"
        p:url="jdbc:oracle:thin:@211.238.142.181:1521:XE"
        p:username="hr"
        p:password="happy"
    />
    <!-- MyBatis:SqlSessionFactoryBean -->
    <bean id="ssf" 
        class="org.mybatis.spring.SqlSessionFactoryBean"
        p:dataSource-ref="ds"
    />
    <!-- 인터페이스 구현 클래스 -->
    <bean id="mapper"
       class="org.mybatis.spring.mapper.MapperFactoryBean"
       p:sqlSessionFactory-ref="ssf"
       p:mapperInterface="com.sist.dao.MovieMapper"
    />
    <!-- ViewResolver -->
    <!-- 
                     request 
        사용 요청 (list.do) ========> DispatcherServlet =====> @Controller 
                                                        @RequestMapping("movie/list.do") 
                                                                                                                 요청값을 받아 온다 <=====> MovieDAO
                                                              |
                                                            ViewResolver :JSP찾아서 request를 전송하는 클래스
                                                              | request
                                                             JSP                                                                        
     -->
     <bean id="viewResolver"
         class="org.springframework.web.servlet.view.InternalResourceViewResolver"
         p:prefix="/"
         p:suffix=".jsp"
     />
     <!-- 
            return "/movie/list.jsp.jsp";
            
            /movie/list.jsp
      -->
</beans>







