<?xml version="1.0" encoding="UTF-8"?>
<!-- Connection , VO등록 , Mapper등록  -->
<!DOCTYPE configuration
   PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <!-- VO등록  -->
  <typeAliases>
    <typeAlias type="com.sist.dao.FoodLocationVO" alias="FoodLocationVO"/>
  </typeAliases>
  <!-- SQL문장 등록 -->
  <mappers>
    <mapper resource="com/sist/dao/location-mapper.xml"/>
  </mappers>
</configuration>